button {
  background-color: rgb(12, 131, 31);
  color: #ffffff;
  padding: 20px 30px  ;
  border : none;
  margin : 40px 50px  ;
}

div {
  font-family: 'Noto Sans', sans-serif;
}

#delivery_msg{
    font-weight: 800;
    font-size: 18px;
}

/* text relating properties */
